<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klx.samsung.dao.ProductMapper">

    <!-- 根据id查询产品-->
    <select id="getProductsWithIds" parameterType="com.klx.samsung.domain.Product"
            resultType="com.klx.samsung.domain.Product">
        select * from tb_product where id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 根据类型查询产品  -->
    <select id="getProductByType" resultType="com.klx.samsung.domain.Product">
        select *
        from tb_product
        where type = #{type}
    </select>

    <!-- 根据网络类型查询产品 -->
    <select id="getProductByNetwork" resultType="com.klx.samsung.domain.Product">
        select *
        from tb_product
        where network = #{network}
    </select>

    <!-- 添加商品-->
    <insert id="addProduct" parameterType="com.klx.samsung.domain.Product" keyProperty="id"
            useGeneratedKeys="true">
        insert into tb_product(name, price, color, type, network, stock, url)
            value (#{name},#{price},#{color},#{type},#{network},#{stock},#{url})
    </insert>

    <!-- 根据id删除商品-->
    <delete id="deleteProduct" parameterType="Integer">
        delete
        from tb_product
        where id = #{id}
    </delete>

    <!--更新商品-->
    <update id="updateProduct" parameterType="com.klx.samsung.domain.Product" keyProperty="id" useGeneratedKeys="true">
        update tb_product
        set name    = #{name},
            price   = #{price},
            color   = #{color},
            type    = #{type},
            network = #{network},
            stock   = #{stock},
            url     = #{url}
        where id = #{id}
    </update>

</mapper>